/* Copyright(c) gert.cuykens@gmail.com */
* {margin:0px;padding:0px;}
html, body {width:100%;height:100%;}

input {width:142px;margin:2px;}

#email {border:2px solid white;}

#register {padding-top:11px;
           width:250px;
           text-align:right;}

#update{width:145px;}
#delete{width:145px;}
#passwd{width:145px;}
#session{width:145px;}

#box{position:absolute;
     left:300px;top:15px;
     width:160px;height:120px;}

#status{position:absolute;
        left:300px;top:137px;}

